@font-face {
  font-family: HelveticaNeueCyr-Thin;
    src: url(../fonts/HelveticaNeueCyr-Thin.ttf);
    font-weight: normal; 
  font-style: normal;
  }
  @font-face {
  font-family: HelveticaNeueCyr-Bold;
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
    font-weight: normal; 
  font-style: normal;
  }
  @font-face {
  font-family:HelveticaNeueCyr-Light;
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
    font-weight: normal; 
  font-style: normal;
  }
/*HelveticaNeueCyr-Black.ttf,
HelveticaNeueCyr-Italic.ttf,,,HelveticaNeueCyr-UltraLight.ttf
  HelveticaNeueCyr-Roman.ttf,
*/
body{
  height: 327px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 24%, rgba(231,231,231,1) 100%) no-repeat ;
  font-family:HelveticaNeueCyr-Thin;
  font-size: 14px;
}   
header{
  max-width: 1366px;
  margin: auto;
  font-family: HelveticaNeueCyr;
  font-size:14px;  
}
.h1, h1 {
  margin-top: 5px;
    font-size: 1.9rem !important;
}
.container{
  max-width: 1170px;
  padding-top: 31px;
  margin: auto;
}
#flower path{ 
  fill:none; 
  stroke:#dddbdb;
 }
.flowerUp{
  position: absolute;
  width: 179px;
  height: 722px;
  right: 0px;
  top: -495px;
  overflow: hidden;
 }
.flowerUpSvg{
  height: 570px;
}
.wraper{
  max-width: 1366px;
	margin: 0 0 -130px 0;
}
.bg-light{
	 background: none !important;
}
.navbar-toggler{
  padding: 2px !important;
}
.navbar {
  z-index: 3;
  padding: 0;
  margin-bottom: -6px;
}
.navbar-light .navbar-nav .nav-link {
  padding-left: 1.1rem;
  padding-right: 1rem;

    color: rgba(0,0,0,.9);
}
.navbar-light .navbar-brand{
	width: 229px;
	height: 65px;
  background: url(../img/logo.png) no-repeat;
  color: #898989;
}
a.navbar-brand{
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: HelveticaNeueCyr-Thin;
  font-size: 12.2px;
  word-spacing: 3px;
  margin-right: 1.4rem;
  /*font-weight: 100;
  text-align:left;*/
  padding: 53px 0 23px 29px;
}

.dropright .dropdown-toggle::after{
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px 3px 3px 3px;
  margin-left: 80px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-left:0;
}
.dropdown-item:hover::after{
  border: solid #7db52c;
  border-width: 0 1px 1px 0;
  display: inline-block;
}
.collapse{
  font-family:HelveticaNeueCyr-Light;
  font-size:1.06vw;  
  margin-left: 1.9vw !important;
}


.mr-auto .mx-auto{
  font-family:HelveticaNeueCyr-Thin;
  font-size:14px;  
  /*text-align :left;*/
/*  margin-right: 5vw  !important;
*/}
.nav-tel {
  text-align: right;
  color: rgba(0,0,0,.9);
  font-size:1.06vw;
}
.nav-tel span{
  font-size:1.35vw;  
}
.dropdown-item{
  font-family:HelveticaNeueCyr-Light;
  font-size: 14px;
  padding: .17rem 1.5rem;
}
.dropdown-menu {
 background-color: #d7e9ce;
 border:none;
 border-radius:0;
 min-width: 16rem;
}
.dropdown-item:hover {
  background-color: #f2f2f2;
}
.menuBottomRight:hover {
	background-color: rgba(242, 242, 242, 0.3);
}
.menuBottom{
	background-color: rgba(242, 242, 242, 0.3);
	height: 100%;
padding-left: -125px;
}
.menuBottomRight span:hover {
	padding-bottom: 5px;
  border-bottom: 2px solid #78b660;
}
 li .nav-link:hover {
	padding-bottom: 5px;
  border-bottom: 2px solid #78b660;
}
.upArrow{
	position: absolute;
  bottom: 200px;
  left: 23px;
}
.carousel-caption {
  max-width: 26vw;
  height: 6vw;
  position: absolute;
  font-size: 1.6vw;
  bottom: 62.65%;
  left: 16.5%;
  z-index: 1;
  color: #000;
  text-align: left;
}
.contecst{
  position: absolute;
  bottom: 15%;
}
.rightArrow{
	position: absolute;
  width: 7%;
  right: -9%;
  bottom: 15px;
  z-index: 1;
  transform: rotate(180deg); 
}
 #brace path { 
  fill:#78b660; 
}
.leftArrow{
  position: absolute;
  width: 7%;
  bottom: 6px;
  left: -13%;
}
.carousel-caption span{
  padding-top: 20px;
  font-family:HelveticaNeueCyr-Bold;
  position: absolute;
  font-size: 3.8vw;
  font-weight: bold;
  color: #78b660;
  left: 43%;
  bottom: -19%;
}
.carousel-caption h5{
  font-family:HelveticaNeueCyr-Bold;
  font-size: 2.2vw;
  margin-bottom: .3rem;
}
.carousel-indicators .active{
	background-color:#7db52c;
}
.carousel-indicators{
  z-index: 2;
	position: absolute;
	bottom: 28.5%;
	width: 60px;
}
.carousel-indicators li{
  background-color:#363636;
	width: 14px;
  height: 14px;
	border-radius: 50%;
}
footer{
  max-width: 1366px;
	margin: auto; 
	font-family: HelveticaNeueCyr-Thin;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.87;
  letter-spacing: normal;
  color: #363636;
  text-align: center;
  z-index: 0;
  /*border: 1px solid red;*/
}
.flowerBottom{
  width: 170px; 
  height: 294px;
  position: absolute;
  left: 0;
 /* overflow: hidden;*/
  /*border: 1px solid red;*/
}
.flowerBottomSvg{
  width: 686px;
  height: 390px;
  position: absolute;
  left: -482px;
  top: -104px;
}
.footerWraper p{
  font-family: HelveticaNeueCyr-Thin;
  padding: 15px;
	font-size: 14px;
  color: rgba(0,0,0,.9);
  line-height: 1.87;
}


@media (max-width: 990px){
  .collapse{
  font-size:14px;
}
.nav-tel{
  display: none;
}

}
@media (min-width: 1400px){
  .wraper{
    max-width: 1366px;
    margin: auto;
  }
  .w-100{
    width: 1366px!important
  }
  .collapse{
    font-size:14px;{
  }
  .nav-tel {
    font-size:14px;
  }
  .nav-tel span{
    font-size:18px;  
  }
  .carousel-caption{
    font-size: 18px;    
    max-width: 315px;
    height: 6vw;
    text-align: left;
    left: 17%;
  }
  .carousel-caption h5{
    font-size: 30px;
  }
  .carousel-caption span{
    padding-top: 20px;
    font-family:HelveticaNeueCyr-Bold;
    position: absolute;
    font-size: 38px;
    font-weight: bold;
    color: #78b660;
    left: 43%;
    bottom: -13%;
  }
  .carousel-inner{
    padding-left: 100px;
  }
  .carousel-indicators{
    left: 6%;
  }
}